<div class="col-md-12">
    <form id="filter" class="mt-2">
    <!-- <form [formGroup]="formTable" (ngSubmit)="userLogin(formLogin)" class="mt-5"> -->    
        <div class="input-group">
            <div class="form-group mr-3">
                <label for="exampleFormControlSelect1">Filter By</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>All</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Search:</label>
                <input type="text" class="form-control" id="exampleInputSearch" [(ngModel)]= "term" [ngModelOptions]="{standalone: true}" placeholder="Search">
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" *ngIf="currentId != 0">
            <div class="row">
                <div class="col-md-12 text-center mb-2">
                    <h4>Detalles del Equipo de Baloncesto</h4>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.name}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.conference}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.abbreviation}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.full_name}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.division}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.city}}</p>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="hidden-line-header color-th text-center">ID</th>
                    <th class="hidden-line-header color-th text-center">Nombre</th>
                    <th class="hidden-line-header color-th text-center">Altura Pulgada</th>
                    <th class="hidden-line-header color-th text-center">Altura Pies</th>
                    <th class="hidden-line-header color-th text-center">Apellido</th>
                    <th class="hidden-line-header color-th text-center">Posición</th>
                    <th class="hidden-line-header color-th text-center">Peso</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of data | paginate: { 
                    id: 'listing_pagination',
                    itemsPerPage: 25,
                    currentPage: page,
                    totalItems: totalRecord } | filter:term">
                <tr style="cursor: pointer;" (click)="getSpecificTeam(user.id);">
                    <td class="vertical-items-center text-center">
                        <p *ngIf="user.position == 'A'" style="color: blueviolet;">{{user.id}}</p>
                        <p *ngIf="user.position == 'B'" style="color:cadetblue;">{{user.id}}</p>
                        <p *ngIf="user.position == 'C'" style="color: red;">{{user.id}}</p>
                        <p *ngIf="user.position == 'D'" style="color: forestgreen;">{{user.id}}</p>
                        <p *ngIf="user.position == 'E'" style="color: yellow;">{{user.id}}</p>
                        <p *ngIf="user.position == 'F'" style="color:turquoise;">{{user.id}}</p>
                        <p *ngIf="user.position == 'G'" style="color:sandybrown;">{{user.id}}</p>
                        <p *ngIf="user.position == 'null'" style="color:gray;">{{user.id}}</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>{{user.first_name != null ? user.first_name : "-"}}</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>{{user.height_inches != null ? user.height_inches : "-"}}</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>{{user.height_feet != null ? user.height_feet : "-"}}</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>{{user.last_name != null ? user.last_name : "-"}}</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>{{user.position != null ? user.position : "-"}}</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>{{user.weight_pounds != null ? user.weight_pounds : "-"}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
        <!-- <div class="col-md-12" *ngIf="currentId != 0">
            <div class="row">
                <div class="col-md-12 text-center mb-2">
                    <h4>Detalles del Equipo de Baloncesto</h4>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.name}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.conference}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.abbreviation}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.full_name}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.division}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{this.dataTeam.city}}</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
