<div class="col-md-12">
    <form id="filter" class="mt-2">
    <!-- <form [formGroup]="formTable" (ngSubmit)="userLogin(formLogin)" class="mt-5"> -->    
        <div class="input-group">
            <div class="form-group mr-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Filter By</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Search:</label>
                <input type="password" class="form-control" id="exampleInputSearch" [(ngModel)]= "term" [ngModelOptions]="{standalone: true}" placeholder="Search">
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
    <div class="row">
        <table class="table table-striped">
        <!-- <table class="table table-striped" *ngFor="let user of data | filter: { 
                                            id: 'listing_pagination',
                                            itemsPerPage: 10,
                                            currentPage: page,
                                            totalItems: totalRecord }"> -->
            <thead>
                <tr>
                    <th class="hidden-line-header color-th text-center">id</th>
                    <th class="hidden-line-header color-th text-center">first name</th>
                    <th class="hidden-line-header color-th text-center">height_feet</th>
                    <th class="hidden-line-header color-th text-center">height_inches</th>
                    <th class="hidden-line-header color-th text-center">last_name</th>
                    <th class="hidden-line-header color-th text-center">Position</th>
                    <th class="hidden-line-header color-th text-center">team</th>
                    <th class="hidden-line-header color-th text-center">weight_pounds</th>
                    <!-- <th class="color-text hidden-line-header text-center color-th" style="width: 11%;">Acciones</th> -->
                </tr>
            </thead>
            <tbody>
            <!-- <tbody *ngFor="let forum of forums"> -->
                <tr style="cursor: pointer;">
                    <td class="vertical-items-center text-center">
                        <p>1</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Orlando</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Pereira</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>C</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Magallanes</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-items-center text-center">
                        <p>1</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Orlando</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Pereira</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>C</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Magallanes</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                </tr>
                <tr>
                    <td class="vertical-items-center text-center">
                        <p>1</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Orlando</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Pereira</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>C</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>Magallanes</p>
                    </td>
                    <td class="vertical-items-center text-center">
                        <p>NULL</p>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
